### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
#Use the lenth of the list of SNs to get total players
total_players = len(purchase_data["SN"].value_counts())

#build a data frame with total amount of players
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Find the number of unique items under Item ID
number_of_unique_items = len((purchase_data["Item ID"]).unique())

#Find out the average price of an item by using mean
avg_price = (purchase_data["Price"]).mean()

#Count the number of purchases using Purchase ID
number_of_purchase = (purchase_data["Purchase ID"]).count()

#Find the total revenue by summing up the Price
total_revenue = (purchase_data["Price"]).sum()

#Create data frame with obtained values
game_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items], "Average Price": [avg_price],
                        "Number Of Purchases": [number_of_purchase], "Total Revenue": [total_revenue]})
#Add formatting
game_df.style.format({'Average Price': '${:.2f}', 'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Find the amounts of each gender
gender_count = (purchase_data["Gender"].value_counts())

#Input into dataframe
gender_df=pd.DataFrame(gender_count)

#Divide the count of each gender by the total amount of people
gender_pct = (gender_count / purchase_data["Gender"].count()) * 100

#Add new column with new data
gender_df["Percentage of Players"] = gender_pct

#Rename the column to fit
gender_df = gender_df.rename(columns={"Gender":"Total Count"})
gender_df
gender_df.style.format({'Percentage of Players': '{:,.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Group the purchase_data by Gender
gender_group = purchase_data.groupby('Gender')

#Count the total number of purchases by gender
total_purch = gender_group["Purchase ID"].count()

#Find the average price using mean
avg_purch_price = gender_group["Price"].mean()

#Find the purchase total
purch_total = gender_group["Price"].sum()

#Find average purchase per person 
avg_purch_pp = avg_purch_price/gender_group.nunique()["SN"]

#Input into DataFrame
rev_gender_df=pd.DataFrame({"Purchase Count":total_purch, "Average Purchase Price":avg_purch_price,
                            "Total Purchase Value": purch_total, "Avg Total Purchase Per Person": avg_purch_pp})
#Add formatting
rev_gender_df
rev_gender_df.style.format({'Average Purchase Price': '${:,.2f}',
                           'Total Purchase Value': '${:,.2f}',
                           'Avg Total Purchase Per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#Create bins for the ages
bins = [0,9,14,19,24,29,34,39,110]

#Establish group names
group_names = ["<10", "10-14","15-19","20-24", "25-29", "30-34", "35-39", "40+"]

# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#Create a groupby object based on Age Group
age_group = purchase_data.groupby("Age Group")

#Obtain the total count by counting unique SN values
total_count_age = age_group["SN"].nunique()

#Find the percentage 
age_pct = (total_count_age/total_players)*100

#Input into Dataframe & add formatting

age_df = pd.DataFrame({"Total Count":total_count_age, "Percentage of Players":age_pct})
age_df
age_df.style.format({'Percentage of Players': '{:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Bin the purchase_data by age
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
age_range=purchase_data.groupby("Age Ranges")

#Find the total purchase count
age_purch_count = age_range["Purchase ID"].count()

#Find the average purchase price using mean
avg_purch_price_age = age_range["Price"].mean()

#Find the total purchase value
age_purch_total = age_range["Price"].sum()

#Find the average total purchase per person
age_purch_pp = age_purch_total/age_range.nunique()["SN"]
#Input into data frame and add formatting

age_range_df = pd.DataFrame({"Purchase Count": age_purch_count,
                            "Average Purchase Price": avg_purch_price_age,
                            "Total Purchase Value": age_purch_total,
                            "Avg Total Purchase per Person": age_purch_pp})

age_range_df.style.format({'Average Purchase Price': '${:,.2f}',
                           'Total Purchase Value': '${:,.2f}',
                           'Avg Total Purchase per Person': '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
#Create a groupby object by SN
sn_group = purchase_data.groupby('SN')

#Find the purchase count
sn_purch_count = sn_group["Purchase ID"].count()

#Find the average purchase price
sn_avg_purch_price = sn_group["Price"].mean()

#Find the Total Purchase Value
sn_total_purch_value = sn_group["Price"].sum()

#Create dataframe with new values
sn_df = pd.DataFrame({"Purchase Count":sn_purch_count,
                     "Average Purchase Price": sn_avg_purch_price,
                     "Total Purchase Value": sn_total_purch_value})

#Sort the values in descending order
sn_df = sn_df.sort_values(by='Purchase Count', ascending=False)

#format the values
sn_df.head().style.format({'Average Purchase Price': '${:,.2f}',
                   'Total Purchase Value': '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [92]:
#Retrieve the Item ID, Item Name, and Item Price columns
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name
id_and_name = popular_df.groupby(['Item ID', 'Item Name'])
#id_and_name.max()

#Perform calculations to obtain purchase count, item price, and total purchase value

pop_purch_count =id_and_name["Item ID"].count()

pop_item_price = id_and_name['Price'].unique().str[0]

pop_total_purch = pop_purch_count*pop_item_price

#Create data frame with results
id_and_name = pd.DataFrame({"Purchase Count":pop_purch_count,
                           "Item Price": pop_item_price,
                           "Total Purchase Value": pop_total_purch})

#Sort by Purchase Count in descending order
id_and_name = id_and_name.sort_values(by='Purchase Count', ascending=False)

#Format
id_and_name.head().style.format({'Item Price':'${:,.2f}',
                         'Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [93]:
#Use the same DF as about, but sort by Total Purchase Value in descending order
id_and_name = id_and_name.sort_values(by='Total Purchase Value', ascending=False)

#Same formatting
id_and_name.head().style.format({'Item Price':'${:,.2f}',
                         'Total Purchase Value': '${:,.2f}'})